body{
	background-color: lightpink

}

h1{
	color: grey;
	font-size: 90px;
	

}
#first{
	font-size: 60px;
}



.small{
	font-size: 60px
}

h2{
	font-size: 60px;
	color: grey;

}

span{
	font-style: italic;


}