body{
	background-image: https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiajKPV1YjfAhWvyYUKHUO3CtUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.unternehmen-region.de%2Fde%2Fviel-wald---mehr-wohlergehen-2324.html&psig=AOvVaw3hrHpji60OPkuRrn3Qx6Bc&ust=1544098434611915
}

h1{
	color: orange;
	font-size: 90px;
	text-decoration: underline;

}
#first{
	font-size: 150px;
}



.small{
	font-size: 12px
}

h2{
	font-size: 11px;
	color: green;

}

span{
	font-style: italic;
}

h2 span{
	text-decoration: line-through;

}